*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



header{
    background-color: #25D366;
    padding: 1.5rem;
}

header nav div img{
    height: 45px;
    display: inline-block;
}

header nav div{
    clear: both;
}

main{
    text-align: center;
    padding: 1.5rem;
    width: 100%;
}

main form{
    padding: .6rem 0;
}

main h1, main form{
    margin: 1.4rem 0;
}


input{
   display: block;
   width: 100%;
}

#submitBtn{
    width: 60%;
    margin: auto;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: .5rem;
}

main img{
    height: 65px;
}

.pDesign{
    font-size: 1.3rem;
    font-weight: bold;
}

.pDesign a{
    text-decoration: none;
}

/* nav responsive */
#hamburgerBtn{
    background: none;
    border:none;
    color: black;
    font-size: 45px;
    cursor: pointer;
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    display: none;
}

nav ul.open{
    display: block;
}

#navUl li{
    list-style-type: none;
}

#navUl li.active{
    background-color: rgba(0,0,0,0.5);
}

#navUl li a:hover {background-color: rgba(0,0,0,0.2);}

#navUl li a{
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    font-weight: bold;
    color: white;
}


input[placeholder="Email"],input[placeholder="Username"],input[placeholder="Password"], #submitBtn{
    padding: .8rem;
    font-size: 1.5rem;
 
}
input[placeholder="Email"],input[placeholder="Username"],input[placeholder="Password"]{
    margin-bottom: .6rem;
    color: #25D366;
}



/* grid */
.row,.row-quiz{
    display: grid;
    grid-template-columns: repeat(12,minmax(min-content,1fr));
    grid-template-rows: min-content;
    row-gap: 2rem;

}

.row-quiz{
    column-gap: 1rem;
}

.small-12,.small-12-quiz{
    grid-column: 1/13;
}

.small-6-quiz{
    grid-column: span 6;
}

/* limiting the width */
.limiting{
    max-width: 1140px;
    margin: auto;
}

/* mainpage */
main h1#highscore{
    margin:0;font-size: 8rem;

}

main p#highscorePara{
    font-size: 1.7rem;
    margin: 1rem 0;
}

main #startQuizBtn{
    width: 10rem;
}

main #startQuizBtn,.mainContainerBtn button{
    padding: 1.4rem .5rem;
    font-weight: bold;
    font-size: 1.7rem;
    background-color: white;
    border-radius: 2rem;
    border: none;
    color: #25D366;
    cursor: pointer;
}

.homeMain{
    background-color: #25D366;
}


.mainContainerNav,.mainContainerQuestion,.mainContainerAnswers{
    padding: 2rem 0;
}


#mainContainerNavQ{
    float: left;
    font-weight: bold;
    font-size: 1.5rem;
}



.mainContainerQuestion,.mainContainerAnswers{
    border-radius: 4rem;
    background-color:  rgba(0,0,0,0.2);
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;

}

.mainContainerAnswers:hover{
    background-color: #25D366;
    color: white;
}

.mainContainerBtn button{
    width: 100%;
    background-color: #25D366;
    color: white;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}

.mainContainerBtn button:disabled{
    background-color: white;
    color: #25D366;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;

}

main{
    margin-bottom: 2rem;
}